 
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .messagesBg {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }
