.light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  color: rgb(201, 107, 20);
  background: linear-gradient(
    90deg,
    rgb(201, 107, 20) 0%,
    rgb(255, 255, 255) 50%,
    rgb(201, 107, 20) 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: loadingFlash 3s linear infinite;
}

.loadingContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(24, 24, 24, 0.788);
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes loadingFlash {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
