.headeranimation {
  display: inline-block;
  white-space: nowrap;
  position: absolute;

  left: 100%;
  transform: translateY(-50%);

  animation: headerMoving 40s linear infinite;
}
.headeranimation2 {
  display: inline-block;
  white-space: nowrap;
  animation: headerMoving2 40s linear infinite;
  animation-delay: 20s;
  position: absolute;
  left: 100%;
}

.mianContainer:hover {
  .headeranimation,
  .headeranimation2 {
    animation-play-state: paused;
  }
}
.headeranimation span,
.headeranimation2 span {
  padding-right: 20px;
  padding-left: 20px;
  transition: all 0.2s;
  color: rgba(236, 233, 233, 0.884);
}
.headeranimation span:hover,
.headeranimation2 span:hover {
  cursor: pointer;
  color: var(--mainColor);
}

@keyframes headerMoving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes headerMoving2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* لجعل العنصر غير قابل للتفاعل مع المؤشر */
  background: linear-gradient(to left, rgba(231, 3, 3, 0.5), rgba(0, 0, 0, 0));
  z-index: 5;
}

.mianContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.027),
    rgba(0, 0, 0, 0.699)
  );
  width: 80px;
  height: 100%;
  z-index: 100;
}
.mianContainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.027),
    rgba(0, 0, 0, 0.699)
  );
  width: 80px;
  height: 100%;
  z-index: 100;
}
