body {
  background-color: #000000; /* Black background */
  color: #e0e0e0; /* Light gray text */

}

.sidebar {
  background-color: #1a1a1a; /* Slightly lighter black for sidebar */
}

.input-field {
  background-color: #333333; /* Darker background for input fields */
  padding : 10px;
}

.search-input {
  background-color: #1a1a1a; /* Darker input field */
  border: 1px solid #4b54a4; /* Dark Gray border */
}

.header {
  background-color: #2b2b2b; /* Dark gray for header */
  border-bottom: 1px solid #4b54a4; /* Dark Gray border */
}

.chat-message {
  background-color: #4b4b4b; /* Dark gray for messages */
  color: #e0e0e0; /* Light gray text */
}

.message-sent {
  background-color: #0066cc; /* Blue for sent messages */
}

.message-received {
  background-color: #333333; /* Darker gray for received messages */
}

.notification-button {
  color: orangered; /* Yellow notification button */
}

.delete-button {
  color: #ff5555; /* Light red for delete button */
}

.attachment-preview {
  background-color: #333333; /* Dark gray for attachment preview */
}

.footer {
  background-color: #1a1a1a; /* Darker footer background */
}

button:hover {
  opacity: 0.8;

}

.input-field {
  background-color: #333333; /* Darker background for input fields */
}

.search-input {
  background-color: #1a1a1a; /* Darker input field */
  border: 1px solid #4b54a4; /* Dark Gray border */
}

.header {
  background-color: #2b2b2b; /* Dark gray for header */
  border-bottom: 1px solid #4b54a4; /* Dark Gray border */
}

.chat-message {
  background-color: #4b4b4b; /* Dark gray for messages */
  color: #e0e0e0; /* Light gray text */
}

.message-sent {
  background-color: #0066cc; /* Blue for sent messages */
}

.message-received {
  background-color: #333333; /* Darker gray for received messages */
}

.notification-button {
  color: #fcfc00; /* Yellow notification button */
}

.delete-button {
  color: #ff5555; /* Light red for delete button */
}

.attachment-preview {
  background-color: #333333; /* Dark gray for attachment preview */
}

.footer {
  background-color: #1a1a1a; /* Darker footer background */
}

button:hover {
  opacity: 0.8;
}
.chat-body{
  background-color: #333333;
  color: #e0e0e0;

  overflow-y: auto;
  padding-top: 3%;
  border-radius: 5px;

  margin-top: 10px;
}