@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #c96b14;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(226, 223, 223, 0.836);
  font-size: 58px !important;
}

.swiper-button-next::after:hover,
.swiper-button-prev::after:hover {
  color: var(--mainColor) !important;
}
.swiper-button-next {
  margin-right: 120px !important;
}
.swiper-button-prev {
  margin-left: 120px !important;
}
@media (max-width: 768px) {
  .swiper-button-next {
    margin-right: 20px !important;
  }
  .swiper-button-prev {
    margin-left: 20px !important;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: rgba(226, 223, 223, 0.836);
    font-size: 30px !important;
  }
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #a8dadc !important;
}
.MuiSvgIcon-root {
  color: white;
}

.swiper-slide-custom {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 1s ease-in-out;
}

.swiper-slide-active.swiper-slide-custom {
  opacity: 1;
  visibility: visible;
}

.searchAnimation {
  animation: searchAnimation 0.4s 1 linear;
}

@keyframes searchAnimation {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes searchAnimationreverse {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-200%);
  }
}
