@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #c96b14;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgba(226, 223, 223, 0.836);
  font-size: 58px !important;
}

.swiper-button-next::after:hover,
.swiper-button-prev::after:hover {
  color: var(--mainColor) !important;
}
.swiper-button-next {
  margin-right: 120px !important;
}
.swiper-button-prev {
  margin-left: 120px !important;
}
@media (max-width: 768px) {
  .swiper-button-next {
    margin-right: 20px !important;
  }
  .swiper-button-prev {
    margin-left: 20px !important;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: rgba(226, 223, 223, 0.836);
    font-size: 30px !important;
  }
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #a8dadc !important;
}
.MuiSvgIcon-root {
  color: white;
}

.swiper-slide-custom {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 1s ease-in-out;
}

.swiper-slide-active.swiper-slide-custom {
  opacity: 1;
  visibility: visible;
}

.searchAnimation {
  animation: searchAnimation 0.4s 1 linear;
}

@keyframes searchAnimation {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes searchAnimationreverse {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-200%);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--mainColor) rgba(100, 100, 100, 0.651);
}

.custom-scrollbar,
.chat-container {
  scrollbar-width: none;
}

.sent {
  background-color: #005c4b;
  text-align: right;
  /* display: flex;
  justify-content: space-between; */
  /* direction: rtl; */
}

.received {
  background-color: #444d56;
  text-align: left;
}
.senderMessageStyle {
  position: relative;
}
.senderMessageStyle::after {
  content: "";
  position: absolute;
  border-width: 12px;
  border-color: transparent transparent transparent #005c4b;
  border-style: solid;
  top: 22px;
  right: -14px;
  border-radius: 8px;
}
.receiverMessageStyle {
  position: relative;
  display: flex;
  justify-content: start;
  margin-left: 10px;
}

.receiverMessageStyle::after {
  content: "";
  position: absolute;
  border-width: 12px;
  border-color: transparent #444d56 transparent transparent;
  border-style: solid;
  top: 24px;
  left: -14px;
  border-radius: 8px;
}
